header{
  text-align: center;
  font-size: 18pt;
}
nav {
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}
footer {
  text-align: center;
  font-size: 14pt;
  font-weight: italic;
