body{
  background-color: red;
}
header{
  text-align: center;
  font-size: 18pt;
}
a:article1{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: teal;
 }
  a:article2{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: teal;
  }
    a:aside1{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: teal;
  }
      a:aside{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: teal;
}
footer{
  text-align: center;
  font-size: 16pt;
  font-style: italic;
  background-color: blue;
}
#article1{
  background-color: purple;
  margin: 20px 0px 20px 20px;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  width: 15%; 
  height: 10%; 
}
#article2{
  background-color: pink;
  margin: 20px 0px 20px 20px;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  width: 15%; 
  height: 10%; 
}
#aside1{
  background-color: yellow;
  font-size: 17pt;
  font-weight: bold;
  margin: 20px 0px 20px 20px;
  width: 15%; 
  height: 10%; 
  margin-left: 150px;
  position: fixed; 
  margin-bottom: -150px;
  text-align: center;
}
aside{
  background-color: orange;
  font-size: 17pt;
  margin: 20px 0px 20px 20px;
  font-weight: bold;
  width: 15%; 
  height: 10%; 
  margin-left: 1000px;
  margin-top: -10px;
  position: fixed;
  text-align: center;
}
