header{
  text-align: center;
  font-size: 18pt;
  background-color: red;
}
nav{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: light blue;
}
footer{
  text-align: center;
  font-size: 16pt;
  font-style: italic;
  background-color: blue;
}
#article1{
  background-color: purple;
  margin: 20px 0px 20px 20px;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
}
#article2{
  background-color: pink;
   margin: 20px 0px 20px 20px;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
}
#aside{
  background-color: yellow;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  width: 15%; 
  height: 100%; 
  margin-left: 1500px;
  position: fixed; 
}
aside{
  background-color: orange;
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  width: 15%; 
  height: 10%; 
  margin-left: 1000px; 
  position: fixed;
}
